html
	head
		meta(name='viewport', content='width=device-width')
		link(href="dist/css/main.css" rel="stylesheet")
		link(href="dist/css/materialize.css" rel="stylesheet")
	body
		#logo
		block content
		block foot
		block scripts
			script(src='dist/scripts/jquery.min.js')
			script(src='dist/scripts/hideshowpassword.min.js')
			script(src='dist/scripts/materialize.min.js')
			script(src='dist/scripts/main.js')