html
	head
		link(href="dist/css/main.css" rel="stylesheet")
		link(href="dist/css/materialize.css" rel="stylesheet")
	body
		block content
		block foot
		block scripts
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')