
#cancel-subscription-modal {
	background-image: url('../images/illustration@2x.png');
	background-repeat: no-repeat;
	background-position: 0 62px;
	background-size: 240px;
	padding: 120px 10px;
	height: 462px;
	width: 430px;
	border-radius: 4px;
}

.cancel--button.waves-effect.waves-light.btn-large {
  width: 200px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: #F14965;
  display: block;
  text-transform: none;
  font-weight: bold;
  padding: 0;
}

.dialogue--main {
	font-size: 24px;
	line-height: 29px;
}

.dialogue--msg {
	font-size: 16px;
	line-height: 22px;
	color: #CDCDCD;
}

.dialogue--action {
	margin: 5%;
	color: #cdcdcd;
	line-height: 19px;	
}

@media #{$small-and-down} {
	#cancel-subscription-modal {
		background-image: url('../images/illustration@2x.png');
		background-repeat: no-repeat;
		background-position: 0 40px;
		background-size: 190px;
		padding: 90px 5px 0;
		min-height: 460px;
		width: 310px;
		border-radius: 4px;
		overflow: scroll;
	}

	.dialogue--action {
		margin: 8%;
		color: #cdcdcd;
		line-height: 19px;	
	}

	.modal-content {
		margin-bottom: -10px;
	}
}

@media #{$medium-and-up} {

	#cancel-subscription-modal {
		background-image: url('../images/illustration@2x.png');
		background-repeat: no-repeat;
		background-position: 0 62px;
		background-size: 240px;
		padding: 120px 10px 0;
		min-height: 480px;
		border-radius: 4px;
	} 

	.dialogue--action {
		margin: 10%;
		color: #cdcdcd;
		line-height: 19px;	
	} 
}
