#payment-success-modal.modal {
	background-image: url('../images/purchase-confetti.png');
	background-repeat: no-repeat;
	background-position: center 60px;
	background-size: 240px;
	border-radius: 4px;
	padding: 150px 10px;
}

#payment-success-modal > .form--button.waves-effect.waves-light.btn-large {
  width: 160px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: #9CBD3B;
  display: block;
  text-transform: none;
  font-weight: bold;
  padding: 0;
  animation: none;
}

@media #{$small-and-down} {
  #payment-success-modal.modal {
    min-height: 420px;
    width: 330px;
    padding: 130px 10px 0;
  }  
}

@media #{$medium-and-up} { 
  #payment-success-modal.modal {
      padding: 110px 10px 0;
      min-height: 400px;
      width: 400px;
      background-position: center 40px;
    }

  #payment-success-modal > .form--button.waves-effect.waves-light.btn-large {
    width: 160px;
    margin: 0 auto;
    border-radius: 35px;
    background-color: #9CBD3B;
    display: block;
    text-transform: none;
    font-weight: bold;
    padding: 0;
    animation: none;
  }  
}
