#payment-success-modal.modal {
	background-image: url('../images/purchase-confetti.png');
	background-repeat: no-repeat;
	background-position: center 60px;
	background-size: 240px;
	height: 432px;
	width: 430px;
	border-radius: 4px;
	padding: 150px 10px;
}

#payment-success-modal > .form--button.waves-effect.waves-light.btn-large {
  width: 160px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: #9CBD3B;
  display: block;
  text-transform: none;
  font-weight: 400;
  padding: 0;
  animation: none;
}
