.aside--purchase {
  background-color: #7C6FFF;
  @include background-image-retina('../images/Mountain-illustration', png, 600px, 320px);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  position: relative;
}

.aside--purchase-glitters {
  z-index: 5;
  @include background-image-retina('../images/group', png, 400px, 200px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 20%;
  height: 100%;
  width: 100%;
}

.aside--professional-plan {
  z-index: 10;
  background-image: url(../images/Professional-plan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  top: 30%;
  position: absolute;
  left: 0;
  right: 0;
}

@media #{$small-and-down} {
  .inner--label {
    color: #979797; 
    font-size: 14px; 
    position: absolute; 
    right: 0; top: 8;
    text-transform: uppercase;
  }
}

@media #{$medium-and-up} {
  .aside--purchase-figure {
    position: absolute;
    right: 1%;  
    max-width: 80%;
    top: 1%;
  }
}