.aside--purchase {
  background-color: #7C6FFF;
  @include background-image-retina('../images/Mountain-illustration', png, 600px, 320px);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  position: relative;
}

.aside--purchase-glitters {
  z-index: 5;
  background-image: url(../images/group@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: inherit;
  height: 300px;
  max-width: 600px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.aside--professional-plan {
  z-index: 10;
  background-image: url(../images/Professional-plan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% center;
  height: 400px;
  width: 100%;
  top: 30%;
  position: absolute;
  left: 0;
  right: 0;
}

@media #{$small-and-down} {
  .inner--label {
    color: #979797; 
    font-size: 14px; 
    position: absolute; 
    right: 0; top: 8px;
    text-transform: uppercase;
  }

  .purchase--page .headline {
    font-weight: normal;
    font-size: 23px;
  }

  .purchase--page .headline, .purchase--page .subhead {
    color: #fff;
  }

  .purchase--page .form--title {
    margin-bottom: 100px;
  }

  .purchase--page .form--title::before {
    z-index: -1;
    content: '';
    height: 250px;
    width: 100vw;
    background-image: url('../images/confetti@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #7D73F6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media #{$medium-and-up} {
  .aside--purchase-figure {
    position: absolute;
    right: 1%;  
    max-width: 80%;
    top: 1%;
  }
}