#logo.signup-success {
	position: absolute;
	margin: 0 auto;
	top: 58px;
	left: 0;
	right: 0;
}

#signup-success {
	height: 100%;
	background: url('../images/Background@2x.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 70px 10px;
	background-color: #F5F6FC;
}

.video-container {
	height: 272px;
	width: 535px;
	padding: 0;
	margin: 0 auto 63px;
}