extends layout/master.jade

block content
	.main
		.page--full.row
			.col.m12.s12
				.form--input
					.form--title
						h1.headline Forgot password?
						h3.subhead We'll send you an email to reset it
					div.input-field
						label(for='name') Email Address
						input#name(type='text' class='validate')
						img(src="dist/images/Path 3.png").inner--label
				.form--button.waves-effect.waves-light.btn-large Sent!
				.alert--message.center Check your email for <br> the instructions we sent to reset <br> your password