extends layout/master.jade

block content
	.main
		.page--full.row(style="width: 600px; margin-top: 10%; margin-left: 2%;")
			h5 Task 1
			p 
				a(href="./signup.html") Signup
			p 
				a(href="./login.html") Login
			p 
				a(href="./purchase.html") Purchase
			p 
				a(href="./forgot-password.html") Forgot password
			p
				a(href="./forgot-password-reset.html") Forgot Password Reset
			p 
				a(href="./new-password.html") New password