extends layout/master.jade

block content
	.main
		.page--full.row(style="width: 600px; margin-top: 10%; margin-left: 5%; padding: 3% 2%")
			h5 Task 2
			p 
				a(href="./signup-success.html") Signup Success
			p 
				a(href="./purchase-stripe.html") Purchase Stripe
			p 
				a(href="./upgrade.html") Upgrade
			p 
				a(href="./payment-success.html") Payment Success
			p 
				a(href="./cancel-subscription.html") Cancel Subscription
			p
				a(href="./purchase-credit-card.html") Credit Card