extends layout/master.jade

block content
	.main
		.page--signup.row
			.col.m7
				.form--title
					h1.headline Start off with a <br> free project
					h3.subhead Give it a try before you buy

				.form--input
					div.input-field
						label(for='name') Email Address
						input#name(type='text' class='validate')
					div.input-field
						label(for='password') Password
						input#password(type='password')

				.form--button.waves-effect.waves-light.btn-large Sign up

				p.center Already have an account?
			.aside--testimonial.col.m5
				.aside--testimonial-quote
					h2 Omelo has enabled me to push <br> code, not deadlines
					p -Moe A (Dixon&moe.com)
					figure.aside--figure
						img.responsive-img(src="dist/images/devices.png")
