extends layout/master.jade

block content
	.main
		.row
			.col.m7
				.kicker
					h1.headline Start off with a <br> free project
					h3.subhead Give it a try before you buy
				div.input-field.col.m5.offset-m4
					label(for='name') Email Address
					input#name(type='text' class='validate')
				div.input-field.col.m5.offset-m4
					label(for='password') Password
					input#password(type='password')
					.cta.waves-effect.waves-light.btn-large Sign up
					p Already have an account?
			.testimonial.col.m5
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
				