extends layout/master.jade

block content
	.main
		.page--full.row
			.col.m12.s12
				.form--input
					.form--title
						h1.headline Create new password
						h3.subhead Get it a try before you buy
					div.input-field
						label(for='new-password') Password
						input#new-password(type='password' class='validate')
						p.inner--label
					div.input-field
						label(for='confirm-password') Confirm Password
						input#confirm-password(type='password' class='validate')
						p.inner--label
				.form--button.waves-effect.waves-light.btn-large Save
