extends layout/master.jade

block header
	#logo

block content
	.main
		#payment-success-modal.modal
			.modal-content
				h1.dialogue--main.center Purchase confirmed!
				h3.dialogue--msg.center You will receive a confirmation in your email. <br> Now let's get you started!
			
			.form--button.waves-effect.waves-light.btn-large Launch omelo