extends layout/master.jade

block header
	#logo

block content
	.main
		#purchase-stripe-modal.modal
			.stripe--payment-header
				button.stripe--close
				button.stripe--logo
				h1.stripe--payment-headline Professional
				p.stripe--payment-subhead $9/month
			.stripe--payment-input
				.stripe--email-label
				input.stripe--email-input(type="email" placeholder="Email")
				.stripe--card-label
				input.stripe--card-input(type="text" placeholder="Card number")
				.stripe--mmyy-label
				input.stripe--mmyy-input(type="text" placeholder="MM / YY")
				.stripe--cvc-label
				input.stripe--cvc-input(type="text")
				br
				.stripe--remember-me
					input.stripe--checkbox-input(type="checkbox" id="remember")
					label(for="remember") Remember Me
				.stripe--pay-button.waves-effect.waves-light.btn-large Pay $9.99