extends layout/master.jade

block header
	#logo

block content
	.main
		#cancel-subscription-modal.modal
			.modal-content
				h1.dialogue--main.center Are you sure you want to cancel your unlimited plan?
				h3.dialogue--msg.center Canceling will delete your timelines and you will <br> not receive any ongoing payments
			
			.cancel--button.waves-effect.waves-light.btn-large Confirm cancellation
			.dialogue--action.center
				a(href="#") I changed my mind