extends layout/master.jade

block header
	#logo.signup-success

block content
	.main
		#signup-success.page--full.row
			h1.headline.center Woohoo, you're in!
			h3.subhead.center Welcome to omelo, check out <br> this short video for a quick <br> overview

			.video-container
				iframe(width='535', height='272', src='https://www.youtube.com/embed/fiWuJrjrJFE?rel=0&amp;fs=0&amp;showinfo=0', frameborder='0', allowfullscreen='')
			
			.form--button.waves-effect.waves-light.btn-large Onward!