extends layout/master.jade

block header
	#logo.signup-success

block content
	.main
		#signup-success
			h1.headline.center Woohoo, you're in!
			h3.subhead.center Welcome to omelo, check out <br> this short video for a quick <br> overview

			.video-container
			
			.form--button.waves-effect.waves-light.btn-large Onward!