extends layout/master.jade

block content
	.main
		.page--full.row(style="width: 600px; margin-top: 10%; margin-left: 5%; padding: 3% 2%")
			h5 Task 1
			p 
				a(href="./signup.html") Signup
			p 
				a(href="./signup-missed-field.html") Signup Missed Field
			p 
				a(href="./login.html") Login
			p 
				a(href="./purchase.html") Purchase
			p 
				a(href="./forgot-password.html") Forgot Password
			p
				a(href="./forgot-password-reset.html") Forgot Password Reset
			p
				a(href="./forgot-password-success.html") Forgot Password Success
			p 
				a(href="./new-password.html") New password