extends layout/master.jade

block header
	#logo

block content
	.main
		#upgrade-modal.modal
			.modal-content
				h1.upgrade--headline Upgrade to Pro?
				h3.upgrade--subhead Unlimited project timelines
				//- h3.upgrade--subhead Unlimited project timelines, <br> for $9/mo
				.upgrade--plan
				.upgrade--figure
				.upgrade--button.waves-effect.waves-light.btn-large Upgrade for $9/mo