@import "materialize";
@import "modules/purchase";

// PRIMARY STYLE 

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 100%;
  // font-size: 1.6rem;
  font-family: 'Avenir Next';
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Lato';
}

h1.headline {
  font-size: 2.4em;
  text-align: center;
}

h3.subhead {
  font-size: 1em;
  text-align: center;
  color: #cdcdcd;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alert--message {
  margin: 2%;
  color: #cdcdcd;
  line-height: 19px;
}

.hideShowPassword-toggle-show, .hideShowPassword-toggle-hide {
  cursor: pointer;
  padding: 2% 4%;
}

// p.inner--label::after {
//   content: 'SHOW';
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   right: 10px;
//   margin: auto;
//   height: 20px;
//   width: 20px;
// }



// END PRIMARY STYLE 


// MATERIALIZE CSS OVERRIDES
.page--full.row {
  margin-bottom: 0;
}

.form--button.waves-effect.waves-light.btn-large {
  width: 150px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: #9CBD3B;
  display: block;
  text-transform: none;
  font-weight: 900;
  animation: fadeIn 2.3s;
}

.spinner-layer.spinner-white {
  border-color: #fff;
}

.preloader-wrapper.smaller {
    width: 26px;
    height: 26px;
    margin-top: 15px;
}

@media #{$small-and-down} {
  #logo {
    width: 45px;
    height: 39px;
    @include background-image-retina('../images/Logo', png, 45px, 39px);
    background-repeat: no-repeat;
    display: block;
    margin: 6% auto 10%;
    animation: fadeIn 2.3s;
  }

  .page--full.row {
    padding-bottom: 20%;
  }

  .form--title {
    margin: 1% 0;
  }

  .form--input {
    max-width: 260px;
    margin: 0 auto 16%;
  }

  .form--input > .input-field {
    animation: fadeIn 2.5s;
  }

  .input--help-forgot {
    position: relative;
    top: -25px;
    padding: 0 1%;
  }

  .input--help {
    margin-top: 7%;
    animation: slideUp 1.9s, fadeIn 2.3s;
  }

  .inner--label {
    top: 3px;
  }

  h1.headline {
    font-size: 24px;
    margin: 0;
    animation: slideUp 1s, fadeIn 1s;
  }

  h3.subhead {
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 25%;
    animation: slideUp 1.5s, fadeIn 1.5s;
  }

  .alert--message {
    margin: 7%;
  }

  .form--cancel {
    position: absolute;
    top: 22px;
    left: 22px;
    font-size: 14px;
    color: #fff;
    opacity: 0.60;
    cursor: pointer;
  }

}





@media #{$medium-and-up} {

  h1.headline, h3.subhead {
    margin: 3%;
  }

  h1.headline {
    animation: slideUp 1s, fadeIn 1s;
  }

  h3.subhead {
    animation: slideUp 1.5s, fadeIn 1.6s;
  }

  .form--title {
    margin-top: 1%;
    margin-bottom: 75px;
  }

  .form--input {
    max-width: 500px;
    display: block;
    margin: 80px auto 40px;
    padding: 5%;
  }

  .form--input > .input-field {
    animation: fadeIn 2.5s;
  }

  .inner--label {
    color: #979797; 
    font-size: 14px; 
    position: absolute; 
    right: 0; top: 8;
    text-transform: uppercase;
  }

  .input--help {
    animation: fadeIn 2.5s;
  }

  input#name, input#password {
    font-weight: 400;
    font-size: 1.4em;
    font-family: 'Avenir Next Medium';
  }

  .aside--testimonial {
    background-color: #7C6FFF;
    @include background-image-retina('../images/Mountain-illustration', png, 600px, 320px);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
    animation: fadeIn 2.3s;
  }



  .aside--testimonial-quote {
    margin: 30% 0;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .aside--testimonial-quote::after {
    content: '';
    @include background-image-retina('../images/confetti', png, 100%, 100%);
    height: 186px;
    width: 333px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    position: absolute;
    z-index: -1;
  }

  .aside--testimonial-quote > h2 {
    font-size: 1.6em;
    font-weight: 900;
    line-height: 29px; 
  }

  .aside--figure {
    position: absolute;
    right: -2%;  
    width: 80%;
  }


  #logo {
    width: 45px;
    height: 39px;
    @include background-image-retina('../images/Logo', png, 45px, 39px);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 39px;
    left: 33px;
    animation: fadeIn 2.3s;
  }


  .input--help {
    display: block;
    margin-top: 2%;
    font-weight: 500;
    font-family: 'Avenir Next Medium';
    font-size: 16px;
  }
}


// @keyframes(fadeIn)
//   0%
//     opacity: 0
//   40%
//     opacity: 0
//   100%
//     opacity: 1

// @keyframes(slideUp)
//   0%
//     transform: translateY(40px)
//   40%
//     transform: translateY(40px)
//   100%
//     transform: translateY(0)


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;   
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(40px)
    }

    40% {
        transform: translateY(40px)
    }

    100% {
        transform: translateY(0)
    }
}

// @keyframes slideLeft {
//     0% {
//         transform: translateX(700px)
//     }

//     40% {
//         transform: translateX(700px)
//     }

//     100% {
//         transform: translateY(0)
//     }
// }