// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}


a {
  text-decoration: none;
  color: #303f9f;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir/AvenirNext-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir/AvenirNext-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/avenir/AvenirNext-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir/AvenirNext-Bold.svg#92550229aad14ffa2dc273e49410d17e') format('svg'); /* Legacy iOS */   
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir/AvenirNext-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir/AvenirNext-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/avenir/AvenirNext-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir/AvenirNext-Regular.svg#fe299bf9c71888f1da7b2c2d74973b56') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/avenir/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/avenir/AvenirNext-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir/AvenirNext-Medium.svg#5ff54762f5b331a06e3ae1fbf17e8ff4') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-black/lato-black.eot);
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/lato-black/lato-black.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-black/lato-black.woff2) format('woff2'), url(../fonts/lato-black/lato-black.woff) format('woff'), url(../fonts/lato-black/lato-black.ttf) format('truetype'), url(../fonts/lato-black/lato-black.svg#lato) format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-heavy/lato-heavy.eot);
  src: local('Lato Heavy'), local('Lato-Heavy'), url(../fonts/lato-heavy/lato-heavy.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-heavy/lato-heavy.woff2) format('woff2'), url(../fonts/lato-heavy/lato-heavy.woff) format('woff'), url(../fonts/lato-heavy/lato-heavy.ttf) format('truetype'), url(../fonts/lato-heavy/lato-heavy.svg#lato) format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-bold/lato-bold.eot);
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato-bold/lato-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-bold/lato-bold.woff2) format('woff2'), url(../fonts/lato-bold/lato-bold.woff) format('woff'), url(../fonts/lato-bold/lato-bold.ttf) format('truetype'), url(../fonts/lato-bold/lato-bold.svg#lato) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-semibold/lato-semibold.eot);
  src: local('Lato Semi Bold'), local('Lato-SemiBold'), url(../fonts/lato-semibold/lato-semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-semibold/lato-semibold.woff2) format('woff2'), url(../fonts/lato-semibold/lato-semibold.woff) format('woff'), url(../fonts/lato-semibold/lato-semibold.ttf) format('truetype'), url(../fonts/lato-semibold/lato-semibold.svg#lato) format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-medium/lato-medium.eot);
  src: local('Lato Medium'), local('Lato-Medium'), url(../fonts/lato-medium/lato-medium.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-medium/lato-medium.woff2) format('woff2'), url(../fonts/lato-medium/lato-medium.woff) format('woff'), url(../fonts/lato-medium/lato-medium.ttf) format('truetype'), url(../fonts/lato-medium/lato-medium.svg#lato) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-regular/lato-regular.eot);
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-regular/lato-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-regular/lato-regular.woff2) format('woff2'), url(../fonts/lato-regular/lato-regular.woff) format('woff'), url(../fonts/lato-regular/lato-regular.ttf) format('truetype'), url(../fonts/lato-regular/lato-regular.svg#lato) format('svg');
  font-weight: 400;
  font-style: normal;
}



@import "modules/purchase";
@import "modules/cancel-subscription";
@import "modules/signup-success";
@import "modules/purchase-stripe";
@import "modules/upgrade";
// PRIMARY STYLE 

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  
}

body {
  font-size: 100%;
  // font-size: 1.6rem;
  font-family: 'Avenir Next';
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Lato';
}

h1.headline {
  font-size: 2.4em;
  text-align: center;
}

h3.subhead {
  font-size: 16px;
  text-align: center;
  color: #cdcdcd;
  line-height: 19px;
  font-weight: lighter;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alert--message {
  margin: 2%;
  color: #cdcdcd;
  line-height: 19px;
}

.hideShowPassword-toggle-show, .hideShowPassword-toggle-hide {
  cursor: pointer;
  padding: 2% 4%;
}

.input--help {
  font-family: 'Avenir Next Medium';
}

.form--input .input-field label {
  font-size: 1.4rem;
}

.form--input > input:focus:not([type]):not([readonly]), input[type="date"]:focus:not(.browser-default):not([readonly]), input[type="datetime-local"]:focus:not(.browser-default):not([readonly]), input[type="datetime"]:focus:not(.browser-default):not([readonly]), input[type="email"]:focus:not(.browser-default):not([readonly]), input[type="number"]:focus:not(.browser-default):not([readonly]), input[type="password"]:focus:not(.browser-default):not([readonly]), input[type="search"]:focus:not(.browser-default):not([readonly]), input[type="tel"]:focus:not(.browser-default):not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]), input[type="time"]:focus:not(.browser-default):not([readonly]), input[type="url"]:focus:not(.browser-default):not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3949ab;
    box-shadow: 0 1px 0 0 #3949ab;
}

// p.inner--label::after {
//   content: 'SHOW';
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   right: 10px;
//   margin: auto;
//   height: 20px;
//   width: 20px;
// }

.warning--message {
  color: #F05069;
  animation: fadeIn 3s;
}

// END PRIMARY STYLE 


// MATERIALIZE CSS OVERRIDES
.page--full.row {
  margin-bottom: 0;
}

.form--button.waves-effect.waves-light.btn-large {
  width: 150px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: #9CBD3B;
  display: block;
  text-transform: none;
  font-weight: 900;
  animation: fadeIn 2.3s;
}

.spinner-layer.spinner-white {
  border-color: #fff;
}

.preloader-wrapper.smaller {
    width: 26px;
    height: 26px;
    margin-top: 15px;
}

@media #{$small-and-down} {
  #logo {
    width: 45px;
    height: 39px;
    @include background-image-retina('../images/Logo', png, 45px, 39px);
    background-repeat: no-repeat;
    display: block;
    margin: 6% auto 10%;
    animation: fadeIn 2.3s;
  }

  .page--full.row {
    padding-bottom: 20%;
  }

  .form--title {
    margin: 1% 0;
  }

  .form--input {
    max-width: 260px;
    margin: 0 auto 16%;
  }

  .form--input > .input-field {
    animation: fadeIn 2.5s;
  }

  .input--help-forgot {
    position: relative;
    top: -25px;
    padding: 0 1%;
  }

  .input--help {
    margin-top: 7%;
    animation: slideUp 1.9s, fadeIn 2.3s;
  }

  .inner--label {
    top: 3px;
  }

  h1.headline {
    font-size: 24px;
    margin: 0;
    animation: slideUp 1s, fadeIn 1s;
  }

  h3.subhead {
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 25%;
    animation: slideUp 1.5s, fadeIn 1.5s;
  }

  .alert--message {
    margin: 7%;
  }

  .warning--message {
    margin: 0;
  }

  .form--cancel {
    position: absolute;
    top: 22px;
    left: 22px;
    font-size: 14px;
    color: #fff;
    opacity: 0.60;
    cursor: pointer;
  }

}





@media #{$medium-and-up} {

  h1.headline, h3.subhead {
    margin: 3%;
  }

  h1.headline {
    animation: slideUp 1s, fadeIn 1s;
  }

  h3.subhead {
    animation: slideUp 1.5s, fadeIn 1.6s;
  }

  .form--title {
    margin-top: 1%;
    margin-bottom: 75px;
  }

  .form--input {
    max-width: 500px;
    display: block;
    margin: 80px auto 40px;
    padding: 5%;
  }

  .form--input > .input-field {
    animation: fadeIn 2.5s;
  }

  .inner--label {
    color: #979797; 
    font-size: 14px; 
    position: absolute; 
    right: 0; top: 8;
    text-transform: uppercase;
  }

  .input--help {
    animation: fadeIn 2.5s;
  }

  input#name, input#password {
    font-weight: 400;
    font-size: 1.4em;
    font-family: 'Avenir Next Medium';
  }

  .aside--testimonial {
    background-color: #7C6FFF;
    @include background-image-retina('../images/Mountain-illustration', png, 600px, 320px);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
    animation: fadeIn 2.3s;
  }



  .aside--testimonial-quote {
    margin: 30% 0;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .aside--testimonial-quote::after {
    content: '';
    @include background-image-retina('../images/confetti', png, 100%, 100%);
    height: 186px;
    width: 333px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    position: absolute;
    z-index: -1;
  }

  .aside--testimonial-quote > h2 {
    font-size: 1.6em;
    font-weight: 900;
    line-height: 29px; 
  }

  .aside--figure {
    position: absolute;
    right: -2%;  
    width: 80%;
  }


  #logo {
    width: 45px;
    height: 39px;
    @include background-image-retina('../images/Logo', png, 45px, 39px);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 39px;
    left: 33px;
    animation: fadeIn 2.3s;
  }


  .input--help {
    display: block;
    margin-top: 2%;
    font-weight: 500;
    font-family: 'Avenir Next Medium';
    font-size: 16px;
  }
}


// @keyframes(fadeIn)
//   0%
//     opacity: 0
//   40%
//     opacity: 0
//   100%
//     opacity: 1

// @keyframes(slideUp)
//   0%
//     transform: translateY(40px)
//   40%
//     transform: translateY(40px)
//   100%
//     transform: translateY(0)


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;   
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(40px)
    }

    40% {
        transform: translateY(40px)
    }

    100% {
        transform: translateY(0)
    }
}

// @keyframes slideLeft {
//     0% {
//         transform: translateX(700px)
//     }

//     40% {
//         transform: translateX(700px)
//     }

//     100% {
//         transform: translateY(0)
//     }
// }